/* Reset some default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header section */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;  
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Main content section */
main {
  flex: 1;
  width: 80%;
  margin: 40px auto;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cards will have at least 300px width and will fill remaining space */
  gap: 20px; /* Space between cards */
  margin-top:32px;
}

.blog-post {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: #333;
}

.blog-post .post-date {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
}

.blog-post p {
  font-size: 1.1rem;
  color: #555;
}

/* Footer section */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  margin-top: 40px;
}
